spring:
    application:
        name: promethues.demo
management:
    endpoints:
        web:
            exposure:
                include: '*'
    endpoint:
        health:
            show-details: 'always'